body{
	color: #630;
	font-size:16px;
	text-align: center;
}

em{
	font-weight: bold;
}

h1{
	font-size: 2em;
	margin: 0em;
	padding: 0px;
}

h2{
	color:rgb(229, 163, 30);
	font-size:1.1em;
	font-weight:bold;
	height:30px;
	margin:0px;
	padding-top:2px;
	text-align:center;
	width:90%;
}
ul{
	margin: 0px;
}
li{
	margin: 0px;
	font-size: 0.8em;
}

#bloque
{
	display: inline-block;
	margin:5px 0;
	vertical-align: top;
	width: 40%;
	*display: inline;
	zoom: 1;
}

#botonera{
	display: inline-block;
	margin:5px 0;
	width:15%;
	*display: inline;
	zoom: 1;
}

#contenido_interactivo{
	background-color: #fff;
	border-radius: .5em;
	height:520px;
	margin: 0 auto;
	width:100%;
}

#pagina1
{
	border: 1px dotted #00F;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	width: 100%;
	*display: inline;
	zoom: 1;
}

#rec0{
	color:rgb(229, 163, 30);
	display:inline-block;
	font-family:Verdana;
	font-size:0.8em;
	margin:0.05em;
	text-align: center;
	width:98%;
	*display: inline;
	zoom: 1;
}


#recuadro1{
	display: inline-block;
	margin:5px;
	padding:0px;
	transition: all 2s ease;
	vertical-align: top;
	width:40%;
	*display: inline;
	zoom: 1;
}

#recuadro2{
	display: inline-block;
	height: 0%;
	margin:5px;
	overflow: hidden;
	padding:0px;
	transition: all 2s ease;
	vertical-align: top;
	width:0%;
	*display: inline;
	zoom: 1;
}

#reiniciar
{
	display: none;
}

.botones{
	background-color: #b4853d;
	border-radius:0.5em;
	color:#fff;
	height:50px;
	margin: 2.4% auto;
	padding: 0;
	transition: all 0.2s ease-out;
	width:90%;
}

.botones:hover, .recuadros1:hover, .recuadros2:hover{
	cursor:pointer;
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

.check
{
	background-color: #f1dbc6;
	border: 2px solid #b4853d;
	border-radius: 0.5em;
	box-shadow: #ccc 2px 2px 5px;
	display: block;
	color: #b4853d;
	font-size: 1.2em;
	font-weight: bold;
	margin: 4em auto;
	padding: 0.5em 1em;
	text-decoration: none;
	text-shadow:#ccc 1px 1px 3px;
	vertical-align: top;	
	width: 120px;
	transition: all 0.2s ease-out;
}

 .check:hover
 {
 	background-color: #b4853d;
 	box-shadow: #666 2px 2px 3px;
 	color:white;
 }

.imgs1{
	float: right;
}

.imgs2{
	float: left;
}

.mensaje
{
	border: 1px solid green;
	border-radius: 0.5em;
	color: #666;
	display: none;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 auto;
	padding: 0.2em;
	width: 90%;
}

.recuadros1, .recuadros2{
	background-color: #f0d2a3;
	border-radius: 0.5em;
	font-family	:Verdana;
	font-size:0.8em;
	height:50px;
	margin: 0.7% 1%;
	padding: 0.1% 1%;
	text-align:justify;
	transition: all 0.2s ease-out;
	width:96%;
}

.botones_cambio
{
	background-color: #69472c;
	color: white;
}

.rec_bajar
{
	height: 0%;
	width: 0%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}