body
{
	color: #630;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}

ul
{
	margin: 0;
	padding: 0.5em 0;
	text-align: justify;
}

li
{
	list-style:none;
	margin: 0.6em 0;
	padding: 0;
	width: 69%;
}


h1
{
	font-size: 1.5em;
	margin-top: 0em;
	margin-bottom: 0.2em;
	padding: 0px;
}

img
{
	display: inline-block;
	float: right;
	margin: 0.2em;

	*display: inline;
	zoom: 1;
}


#contenido_interactivo
{
	background-color: #f0d2a3;
	height: 520px;
	margin: 0 auto; 
	width:720px;
}

#pagina
{
	background-color: white;
	border-radius: 0.5em;
	height: 450px;
	margin: 0 auto;
	padding: 0;
	width: 95%;
}


a:link, a:visited
{
	background-color: #cc9966;
	border-radius: 0.3em;
	color: #630;
	display: inline-block;
	font-size: 1.2em;
	margin: 0;
	padding: 0 0.5em;
	text-decoration: none;
	width: 96%;

	*display: inline;
	zoom: 1;
}

#li_7, #li_8, #li_9
{
	width: 99%;
}

a:hover
{
	position: relative;
}

a:hover::after
{
	content:attr(href);
	color: #630;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 200;
	background-color: #f0d2a3;
	border-radius: 5px;
	box-shadow: 0 0 5px #222;
	padding: .2em .5em;
}

/*@media all and (min-width: 321px) {
	a::before
	{
		content:attr(href)": ";
		color: black;
		text-decoration: none;
	}
}*/

@media print {
	a::before
	{
		content:"("attr(href)")";
	}
}